/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
  color:#444b52;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For image to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

body {
  background-color: #131314;
  font-family: 'Roboto', sans-serif;
}
